# Puerto en el que arranca la app. Opcional.
PORT=3000

# Ruta al archivo de credenciales del servicio, o configure solo las variables de entorno siguientes.
FIREBASE_SERVICE_ACCOUNT_PATH=./secrets/firebase-admin.json
FIREBASE_PROJECT_ID=ecomarck
FIREBASE_CLIENT_EMAIL=firebase-adminsdk@eco-marck.iam.gserviceaccount.comireaadmiscaraoamaservviceomireadminscaraoamaser
FIREBASE_PRIVATE_KEY="b13639e0cc20d81437e13a9895949d330dbea880"
FIREBASE_WEB_API_KEY=AIzaSyAja5lAjEfiCCzHXVAS5cAIbuNEuk5_GvQ
